## Loop For ##

In [1]:
#Criando uma tupla e imprimindo cada valor

tp = (1 , 2)

for i in tp:
    print(i)

1
2

In [3]:
#Criando uma lista e imprimindo cada um dos seus valores

lista = ['Ovo', 'pão', 'carne', 'bacon', 'mostarda']

for i in lista:
     print(i)

Ovo
pão
carne
bacon
mostarda

In [5]:
#imprimindo os valores em um intervalo entre 0 e 5

for contador in range(0,6):
    print(contador)

0
1
2
3
4
5

In [6]:
#imprimindo numeros pares de uma lista

lista = [1 , 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in lista:
    if i%2 == 0:
        print(i)

2
4
6
8
10

In [7]:
#listando o intervalo de 0 a 102 com intervalo de 2

for i in range(0,104,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102

In [8]:
#String sequenciais

for st in 'Python':
    print(st)

P
y
t
h
o
n

## Loop For Aninhado ##

In [1]:
for i in range(0,5):
    for a in range(0,5):
        print(a)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4

In [2]:
listaLoop = [5, 10 ,20, 40, 50]
soma_dobro = 0

for i in listaLoop:
    double_i = i * 2
    soma_dobro += double_i

print(soma_dobro)

250

In [3]:
#loop em listas de listas

lista = [[1, 3, 5, 7, 9], [2, 4, 6, 8, 10], [10, 20 ,30, 40, 50, 60, 70, 80, 90, 100]]

for valor in lista:
    print(valor)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]