In [3]:
#Removendo o arquivo de banco de dados caso exitas
import os
os.remove('escola.db') if os.path.exists('escola.db') else None

In [4]:
#Importando o SQLite

import sqlite3

In [5]:
#cria uma conecção com o banco de dados, caso ele não exista ele será criado
con = sqlite3.connect('escola.db')

In [6]:
type(con)

sqlite3.Connection

In [7]:
#Criando um cursor
#Um cursor permite perdcorer todos os registros de um grupo de dados

cur = con.cursor()

In [8]:
type(cur)

sqlite3.Cursor

In [9]:
#Criando um comando SQL

sqlCreate = "create table cursos"\
'(id integer primary key,'\
'titulo varchar(100),'\
'categoria varchar(140))'

In [10]:
cur.execute(sqlCreate)

In [11]:
#Criando outra instrução SQL

sql_insert = 'insert into cursos values (?,?,?)'

In [12]:
#Dados
recSet = [
    (1,'Power BI','Dados'),
    (2,'Cientista de dados','analise de dados'),
    (3,'Python para Analise de dados', 'analise de dados')
]

In [13]:
#inserindo registros

for rec in recSet:
    cur.execute(sql_insert, rec)

In [14]:
#Gravar a trasação

con.commit()

In [15]:
sqlSelect = 'select * from cursos'

In [16]:
#seleciona todos os registros e guarda

cur.execute(sqlSelect)
dados = cur.fetchall()

In [17]:
# Exibindo dados

for linha in dados:
    print('Id: %id, Titulo: %s, Categoria: %s\n' %linha)

Id: 1d, Titulo: Power BI, Categoria: Dados

Id: 2d, Titulo: Cientista de dados, Categoria: analise de dados

Id: 3d, Titulo: Python para Analise de dados, Categoria: analise de dados

In [18]:
#Gerando outros registros
recset = [(1003,'Gestao de dados com MongoDB', 'Big data'),
          (1004, 'R fundamentos', 'Analise de dados')]

#Inserindo os registros
for rec in recset:
    print('Curso: %d, Titulo: %s, Categoria: %s \n' % rec)

Curso: 1003, Titulo: Gestao de dados com MongoDB, Categoria: Big data

Curso: 1004, Titulo: R fundamentos, Categoria: Analise de dados

In [19]:
#FEchar conexão
con.close()